@model HR_Payroll_Library.GetEmployeeSummary_Result

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>GetEmployeeSummary_Result</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fname" class="control-label"></label>
                <input asp-for="fname" class="form-control" />
                <span asp-validation-for="fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lname" class="control-label"></label>
                <input asp-for="lname" class="form-control" />
                <span asp-validation-for="lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="benefit_enrolled" /> @Html.DisplayNameFor(model => model.benefit_enrolled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Dependents" class="control-label"></label>
                <input asp-for="Dependents" class="form-control" />
                <span asp-validation-for="Dependents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearsEmployed" class="control-label"></label>
                <input asp-for="YearsEmployed" class="form-control" />
                <span asp-validation-for="YearsEmployed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
