@{
    ViewData["Title"] = "Demo Employee HR Website";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Simple web asp.core .NET application for demonstration purposes.</a>.</p>
</div>
